extends layout

block content
  header.header__templates
    include partials/nav
    h1.header__title.header__title--alt Collaborations

  main.collaborations
    section.section
        .section__content
            h3.title Finally Collaborations are now open. 
            h3.title We looking for creative ideas that use the STEEM blockchain.
            h3.title Enter your details in the form below and lets make projects happen.

            <div class="typeform-widget" data-url="https://sambillingham1.typeform.com/to/WAaEWv" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=WAaEWv&utm_source=typeform.com-13023831-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>