extends layout

block content
  header.dashboard__header.cf
      h2.dashboard__title
        img.dashboard__title__logo(src="/img/f-logo.png" alt="Finally Network Logo" title="Finally Network" )
        span.dashboard__title__text Dashboard
  main.dashboard(data-username=`${username}` data-theme=`${selectedTheme}` )
    if pro == true
      section.dashboard__block
        table.dashboard__table
          tr
            th Website
            th Theme
            th Show Resteems
            th(title="specify a hashtag to use for your blog") Hashtag Filter
            th(title="list of tags for navigation") Navigation
            th
          tr
            td: a(href=`/@${username}`) /@#{username}
            td
              select.dashboard__theme-select
                option(value="lens") Lens
                option(value="hckr") HCKR
                option(value="campfire") Campfire
                option(value="make") Make
              td: input.dashboard__resteem-checkbox(type="checkbox" name="resteem" checked=(showResteems))
            td
              span
              input.dashboard__input.dashboard__tag-select(type="text" value=`${tag}` placeholder="e.g photography")
            td
              input.dashboard__input.dashboard__nav-select(type="text" value=`${navigation}` placeholder="e.g photography, travel")
            td: span.dashboard__button.dashboard__save save

      section.dashboard__block
        p Thank you for testing the Finally Beta Platform
        p If you need help please contact Sam via discord [sambillingham#7927]

    else
      section.dashboard__block
        h3 Unlock Website
        p.beta-unlock__details Unlocking beta access will remove the 'powered by Finally' badge.
        p.beta-unlock__details Pay what you want
        input.dashboard__input.dashboard__input--unlock-amount(placeholder="STEEM" type="number")
        span.beta-unlock__username
        span.dashboard__button.dashboard__button--unlock Unlock With Steemconnect
