extends layout

block content
  main.profile(
    data-theme=`${theme}`
    data-username=`${username}`
    data-pro=`${pro}`
    data-tag=`${tag}`
    data-nav=`${nav}`
    data-show-resteems=`${showResteems}`
  )
