extends layout

block content
  main.resteem(
      data-theme=`${theme}`
      data-username=`${username}`
      data-author=`${author}`
      data-permlink=`${permlink}`
      data-pro=`${pro}`
      data-nav=`${nav}`
  )
